*{
margin: 0%;
padding: 0%;
}
.corpo site {
    color: aliceblue;
    background-color: aliceblue;
}
.cabeçalho{
    text-align: center;
}
.cabeçalho titulo {
    font-size: 100%;
}
.cabeçalho subtitulo{
    font-size: 40%;
}
.introdução{
    text-align: center;
    text-align: justify;
    padding: 15px;
}
.paragrafo .introdução{
    text-align: center;
    text-align: justify;
}
