*{margin: 0%;
    padding: 0%;
}
.cabeçalho{
    color: rgba(117, 33, 33, 0.295);
    background-color: rgb(22, 14, 14);
    justify-content: center;

}
.corpo_pagina{
    background-color: #e09090;
color: rgba(196, 89, 98, 0.856);
}
.cabeçalho{
    text-align: center;
    font-size: large
}
.cabeçalho_titulo{
    font-size: ;
}
.paragrafo-introdução{
    text-align: center;
    text-align: justify;
    font-size: 30;
    }
