*{
margin: 0%;
padding: 0%;
}
.corpo site {
    color: rgb(208, 168, 253);
    background-color: rgb(216, 134, 236);
}
.cabeçalho{
    text-align: center;
}
.cabeçalho titulo {
    font-size: 100%;
    color font-size: ;
}
.cabeçalho subtitulo{
    font-size: 40%;
}
.introdução{
    text-align: center;
    text-align: justify;
    padding: 15px;
}
.paragrafo .introdução{
    text-align: center;
    text-align: justify;
}
.img{
    padding: 12%;
}
